      <footer class="footer" style="height: 135px;">
        <div class="container" style="text-align: center;">
          <div class="row" style="padding-top:20px; padding-bottom:5px;">
            <ul class="list-inline" style="margin-left: auto; margin-right: auto;">
              <li class="list-inline-item" style="padding: 0 30px;"><a href="{{{link_Facebook}}}" target="_blank"><img alt="Facebook Logo" style="height: 40px;" src="./images/FB-f-Logo__white_114.png" /></a></li>
              <li class="list-inline-item" style="padding: 0 30px;"><a href="{{{link_Linkedin}}}" target="_blank"><img alt="Linkedin Logo" style="height: 40px;" src="./images/linkedin_logo_128.png" /></a></li>
            </ul>
          </div>
          <p>{{companyName}} &copy; 2017</p>
        </div>
      </footer>
