		<link href="./css/bootstrap.css" rel="stylesheet">
		<link href="./css/sticky-footer-navbar.css" rel="stylesheet">

		<link rel="icon" type="image/png" href="./images/Logo2_Black.png">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobileoptimized" content="0" />

		<style type="text/css"> 
			.navbar-expand-lg .navbar-nav .nav-link {padding-right: 3rem; padding-left: 3rem;}
			h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: 400;}
			 @-ms-viewport {width: device-width;}
    	</style>
