            <div class="tab-pane fade" id="list-{{uniqueServiceId_HIDDEN}}" role="tabpanel" aria-labelledby="list-{{uniqueServiceId_HIDDEN}}-list">
              <div class="card border-secondary mb-3">
                <div class="card-header"><h3>{{servicesList}}</h3></div>
                <div class="card-body">
                  <p style="margin-left: 3rem;">{{serviceDetails}}</p>
                </div>
                <div class="card-footer text-muted" style="margin: 0;">{{servicePrice}}</div>
              </div>
            </div>
