<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ownerName}} | {{companyName}}</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<meta name="description" content="{{companyName}}">
		<meta name="author" content="{{ownerName}}">

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> header}}

		<!-- ===============
			END Page Header
		================ -->

		<div class="container" style="margin-top: 97px; padding-top: 3rem;">
			<div class="row">
				<div class="col-md-4">
					<figure class="figure">
						<img src="./images/headShotBio_645x959.jpg" class="figure-img img-fluid rounded" alt="{{ownerName}}" />
					</figure>
				</div>
				<div class="col-md-8">
					<h2 style="margin-bottom: 2rem;">{{ownerName}} <span style="color: #9e9d9d;">| {{ownerTitle}}</span></h2> 

					{{#bio}}
						<p style="font-size: 1.2rem">{{.}}</p>
					{{/bio}}

				</div>
			</div>
		</div>

		<!-- ===============
		   Page Footer
		================ -->

		{{> footer}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
