<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Contact Us | {{companyName}}</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<meta name="description" content="{{companyName}}">
		<meta name="author" content="{{ownerName}}">

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> header}}

		<!-- ===============
			END Page Header
		================ -->


		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 97px;">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="first-slide d-block w-100" src="./images/headerContactUs.png" alt="First slide">
				<!--             ref: https://www.pexels.com -->
				</div>
			</div>
		</div>

		<div class="container" style="padding-top: 3rem; padding-bottom: 3rem; min-height: 713px;">
			<h3 class="display-4" style="margin-bottom: 20px;">Contact Us</h3>
			<div class="row">
				<div class="col-md-6">
					<div id="thankyoumsg" style="display: none;">
						<p>{{contactUsThxText}}</p>
						<h5 style="padding-top: 2rem; font-weight: bold;">Please Note:</h5>
						<p>1. Do not sign or date documents prior to your appointment. During the appointment, your identity will be verified and signature witnessed.</p>
						<p>2. Complete all documents prior to appointment except for signatures and dates.</p>
						<p>3. The person signing the document must appear before the Notary Public.</p>
						<p>4. For certified copies of documents, please bring the original document and the photocopy.</p>
						<p>5. Government issued photo identification (Driver's License, Passport, etc) is required at your appointment to verify identity.</p>
					</div>
					<div id="contactMsg" >
						<p style="font-size: 1rem;">{{contactUsText}}</p>
					</div>
					<div id="formIncomplete" style="display: none;">
						<p style="font-size: 1rem; color: red;">Please complete highlighted fields.</p>
					</div>
					<form style="margin-bottom: 2rem;">
						<div class="form-row">
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="inputFirstName" placeholder="First Name" style="background-color: #f3f4f5;">
							</div>
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="inputLastName" placeholder="Last Name" style="background-color: #f3f4f5;">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" style="background-color: #f3f4f5;">
							</div>
							<div class="form-group col-md-6">
								<input type="email" class="form-control" id="inputEmail" placeholder="Email" style="background-color: #f3f4f5;">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<select id="inputLocation" class="form-control" style="background-color: #f3f4f5;">
									<option selected>Select Location</option>
									<option>London West</option>
									<option>London East</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="inputApptDate" placeholder="Preferred Date" style="background-color: #f3f4f5;">
							</div>							
						</div>
						<div class="form-group">
							<select id="inputService" class="form-control" style="background-color: #f3f4f5;">
								<option selected>Select Service</option>
								{{#services}}
                  					<option>{{.}}</option>
								{{/services}}
							</select>
						</div>
						<div class="form-group">
							<textarea class="form-control" id="inputMessage" rows="3" placeholder="Message" style="background-color: #f3f4f5;"></textarea>
						</div>
						<p style="font-size: .8rem; line-height: 1.5;">{{contactUsSecurityText}}</p>
						
						<button type="submit" class="btn btn-primary btn-block" id="submitInfo">Request Appointment</button>
					</form>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-3"  style="padding-top: 6.5rem;">
					<div class="row" style="padding-bottom: 2rem;">
						<div class="col-2">
							<span class="glyphicon glyphicon-phone" aria-hidden="true" style="color: #000; font-size: 1.5rem;">
						</div>
						<div class="col-10">
							<a href="tel:+1-{{companyPhone}}" style="color: #343a40; font-weight: bold;"></span>{{companyPhone}}</a>
						</div>
					</div>
					<div class="row" style="padding-bottom: 2rem;">
						<div class="col-2">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: #000; padding-right: 1rem; font-size: 1.5rem;">
						</div>
						<div class="col-10">
							<a href="mailto:{{companyEmail}}?Subject=Notary%20Services" target="_top" style="color: #343a40; font-weight: bold;"></span>{{companyEmail}}</a>
						</div>
					</div>
					<div class="row" style="padding-bottom: 2rem;">
						<div class="col-2">
							<img alt="Insta Logo" target="_blank" style="height: 25px;" src="./images/linkedin_logo_128_blk.png" />
						</div>
						<div class="col-10">
							<a href="{{{link_Linkedin}}}" target="_blank" style="color: #343a40; font-weight: bold;"></span>LinkedIn Profile</a>
						</div>
					</div>
					<div class="row" style="padding-bottom: 2rem;">
						<div class="col-2">
							<img alt="Twitter Logo" style="height: 25px;" src="./images/twitter_logo_128_blk.png" />
						</div>
						<div class="col-10">
							<a href="{{{link_Twitter}}}" target="_blank" style="color: #343a40; font-weight: bold;"></span>{{twitterHandle}}</a>
							
						</div>
					</div>
					<div class="row" style="padding-bottom: 2rem;">
						<div class="col-2">
							<img alt="Insta Logo" style="height: 25px;" src="./images/glyph-logo_May2016.png" />
						</div>
						<div class="col-10">
							<a href="{{{link_Instagram}}}" target="_blank" style="color: #343a40; font-weight: bold;">{{instagramHandle}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ===============
		   Page Footer
		================ -->

		{{> footer}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
		<script type="text/javascript">

			$("#submitInfo").on( "click", function(event) {
				event.preventDefault()
				var formValues = {"timestamp": new Date(), "ipAddress": "{{client_ip}}", "referrer": "{{referer}}"};

				$(".form-control").each(function(index,element) {
					formValues[element.id] = element.value;

					if (!element.value && (element.id !== "inputLocation") && (element.id !== "inputService") && (element.id !== "inputMessage") )
					{
					  // google.script.run
					  //   .withSuccessHandler(setResponse)
					  //   .getData(a);
						$("#" + element.id).css( "background-color", "#f7f2d7" );
						$("#formIncomplete").css( "display", "block" );
						return true;						
					}
				
					// $("form").css( "display", "none" );
					// $("#contactMsg").css( "display", "none" );
					// $("#thankyoumsg").css( "display", "block" );

				});


				// onclick="google.script.run.writeForm(this.parentNode)"
				
			});

		</script>

	</body>
</html>
