<footer class="footer" style="height: 135px;">
  <div class="container" style="text-align: center;">
    <div class="row" style="padding-top:20px; padding-bottom:5px;">
      <ul class="list-inline" style="margin-left: auto; margin-right: auto;">
        <li class="list-inline-item" style="padding: 0 30px;"><a href="https://www.instagram.com/karenjmcbride/" target="_blank"><img alt="Instagram Logo" style="height: 40px;" src="./images/instagram_logo_128.png" /></a></li>
        <li class="list-inline-item" style="padding: 0 30px;"><a href="#"><img alt="Twitter Logo" style="height: 40px;" src="./images/twitter_logo_128.png" /></a></li>
        <li class="list-inline-item" style="padding: 0 30px;"><a href="https://ca.linkedin.com/in/karen-j-mcbride-29226610" target="_blank"><img alt="Insta Logo" style="height: 40px;" src="./images/linkedin_logo_128.png" /></a></li>
      </ul>
    </div>
    <p>McBride Notary Services &copy; 2017</p>
  </div>
</footer>