<!DOCTYPE html>
<html>
	<head>
		<title>Services | {{companyName}}</title>

		<!-- ===============
			Page Head Info
		================ -->		

		{{> head}}

		<meta name="description" content="{{companyName}}">

		<!-- ===============
			END Page Head Info
		================ -->

	</head>

	<body>

		<!-- ===============
			Page Header
		================ -->

		{{> header}}

		<!-- ===============
			END Page Header
		================ -->

		<div style="margin-top: 135px; position: relative;">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="first-slide d-block w-100" src="./images/-81.jpg" alt="First slide">
				</div>
			</div>
		</div>

		<div class="container" style="padding-top: 3rem;">
			<h3 class="display-4" style="font-size: 3rem; margin-bottom: 1.5rem;">Services</h3>
			<p class="lead" style="font-size: 1.2rem;">{{servicesMainText}}</p>
			<div class="row" style="padding-top: 1rem;">
				<div class="col-md-6">
					{{#servicesList1}}
						<p class="lead" style="font-size: 1.2rem;">{{.}}</p>
					{{/servicesList1}}

				</div>
				<div class="col-md-6">
					{{#servicesList2}}
						<p class="lead" style="font-size: 1.2rem;">{{.}}</p>
					{{/servicesList2}}
				</div>
			</div>
			<div class="row" style="margin-top: 1rem;">
				<div class="col-12 text-center">
					<p class="lead" style="font-size: .9rem;">{{servicesNote}}</p>
				</div>
			</div>

			<div class="row justify-content-center" style="padding-top: 2rem; margin-bottom: 2rem;">
				<a class="btn btn-primary" href="contact.html" role="button" style="padding-left: 50px; padding-right: 50px;">Request Appointment</a>
			</div>

			<div class="row">
				<div class="col-lg-3" style="margin-top: 2rem;">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title" style="font-weight: 200;">{{servicesCard1}}</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3" style="margin-top: 2rem;">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title" style="font-weight: 200;">{{servicesCard2}}</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3" style="margin-top: 2rem;">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title" style="font-weight: 200;">{{servicesCard3}}</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3" style="margin-top: 2rem;">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title" style="font-weight: 200;">{{servicesCard4}}</h5>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- ===============
		   Page Footer
		================ -->

		{{> footer}}

		<!-- ===============
		   END Page Footer
		================ -->

		<!-- ===============
		   Page Script Info
		================ -->

		{{> script}}

		<!-- ===============
		   END Page Script Info
		================ -->
	
	</body>
</html>
